<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
</head>

<body>
	<nav class="page-sidebar" id="sidebar" th:fragment="sidebarAdmin">
		<div id="sidebar-collapse">
			<div class="admin-block d-flex">
				<div>
					<img src="/asset/admin/assets/img/admin-avatar.png" width="45px" />
				</div>
				<div class="admin-info">
					<div class="font-strong">James Brown</div><small>Administrator</small>
				</div>
			</div>
			<ul class="side-menu metismenu">
				<li>
					<a href="/admin/alltable"><i class="sidebar-item-icon fa fa-table"></i>
						<span class="nav-label">Tables</span></a>
					
				</li>
			</ul>
			</li>

			</ul>
		</div>
	</nav>
</body>

</html>