<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width initial-scale=1.0">
	<title>Togarpic | Category</title>
	<!-- GLOBAL MAINLY STYLES-->
	<link href="/asset/admin/assets/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/asset/admin/assets/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
	<link href="/asset/admin/assets/vendors/themify-icons/css/themify-icons.css" rel="stylesheet" />
	<!-- PLUGINS STYLES-->
	<link href="/asset/admin/assets/vendors/DataTables/datatables.min.css" rel="stylesheet" />
	<!-- THEME STYLES-->
	<link href="/asset/admin/assets/css/main.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<!-- PAGE LEVEL STYLES-->
</head>
<body>
	<h1>Ban không được quyền đăng nhập đường dẫn này</h1>
	<a href="">Back to Togarpic</a>
</body>

</html>