<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
		 <div class="page-content fade-in-up" th:fragment="flowchart">
                <div class="row">
                    <div class="col-md-6">
                        <div class="ibox">
                            <div class="ibox-head">
                                <div class="ibox-title">Simple Bar Chart</div>
                            </div>
                            <div class="ibox-body">
                                <div id="flot_bar_chart" style="height:280px;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="ibox">
                            <div class="ibox-head">
                                <div class="ibox-title">Interactivity Chart</div>
                            </div>
                            <div class="ibox-body">
                                <div id="flot_interactivity" style="height:280px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="ibox">
                            <div class="ibox-head">
                                <div class="ibox-title">Pie Chart</div>
                            </div>
                            <div class="ibox-body">
                                <div id="flot_pie_chart" style="height:280px;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="ibox">
                            <div class="ibox-head">
                                <div class="ibox-title">Area Chart</div>
                            </div>
                            <div class="ibox-body">
                                <div id="flot_area_chart" style="height:280px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox">
                    <div class="ibox-head">
                        <div class="ibox-title">Visitors Example</div>
                    </div>
                    <div class="ibox-body">
                        <div class="chart" id="flot_visitors" style="height:280px;"></div>
                        <div class="chart" id="flot_visitors_overview" style="height:100px;"></div>
                    </div>
                </div>
                <div class="ibox">
                    <div class="ibox-head">
                        <div class="ibox-title">Multiple lines</div>
                    </div>
                    <div class="ibox-body">
                        <div id="flot_multi_line" style="height:280px;"></div>
                    </div>
                </div>
              
            </div> 	
</body>
</html>