<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div class="page-content fade-in-up" th:fragment="map">
                <div class="row">
                    <div class="col-md-6">
                        <div class="ibox">
                            <div class="ibox-head">
                                <div class="ibox-title">World map</div>
                            </div>
                            <div class="ibox-body">
                                <div id="world_map" style="height: 300px;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="ibox">
                            <div class="ibox-head">
                                <div class="ibox-title">USA map</div>
                            </div>
                            <div class="ibox-body">
                                <div id="usa_map" style="height: 300px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
              
            </div>	
</body>
</html>