<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

</head>

<body>
	<header class="header" th:fragment="headerHome">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>                        
                                <li><i class="fa fa-envelope"></i><span th:text="${account}"></span></li>
                                <li>Free Shipping for all Order of $99</li>
                          
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                            <div class="header__top__right__language">
                                <img src="/asset/client/img/language.png" alt="">
                                <div>English</div>
                            </div>
                            <div class="header__top__right__auth" th:if="${login}" >
                                <a th:text="${login}" href="/login"><i class="fa fa-user"></i></a>                              
                            </div>
                            <div class="header__top__right__auth" th:if="${logout}">                                
                                <a th:text="${logout}" href="/logout"><i class="fa fa-user"></i></a>                          
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="/home"><img th:src="@{/asset/client/img/logo.png}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="/recipe">Recipe</a></li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            
                            <li><a href="/cart1"><i class="fa fa-shopping-bag"></i> <span  th:text="${cartShow}"></span></a></li>
                        </ul>               
                        <div th:if="${bill}" class="header__cart__price">item: <span th:text="${bill}"></span></div>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
</body>
</html>