<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
   <link rel="stylesheet" th:href="@{/asset/client/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/asset/client/css/font-awesome.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/asset/client/css/elegant-icons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/asset/client/css/nice-select.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/asset/client/css/jquery-ui.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/asset/client/css/owl.carousel.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/asset/client/css/slicknav.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/asset/client/css/style.css}" type="text/css">

<style>
	.des{
		text-align: justify;
	}
</style>

</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
   <div th:replace="/client/common/menu :: menuHome">
		
	</div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header th:replace="/client/common/header :: headerHome">
      
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero hero-normal" th:fragment="blog1">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>All departments</span>
                        </div>
                        <ul>
                            <li><a href="#">Fresh Meat</a></li>
                            <li><a href="#">Vegetables</a></li>
                            <li><a href="#">Fruit & Nut Gifts</a></li>
                            <li><a href="#">Fresh Berries</a></li>
                            <li><a href="#">Ocean Foods</a></li>
                            <li><a href="#">Butter & Eggs</a></li>
                            <li><a href="#">Fastfood</a></li>
                            <li><a href="#">Fresh Onion</a></li>
                            <li><a href="#">Papayaya & Crisps</a></li>
                            <li><a href="#">Oatmeal</a></li>
                            <li><a href="#">Fresh Bananas</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="#">
                                <div class="hero__search__categories">
                                    All Categories
                                    <span class="arrow_carrot-down"></span>
                                </div>
                                <input type="text" placeholder="What do yo u need?">
                                <button type="submit" class="site-btn">SEARCH</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+65 11.188.888</h5>
                                <span>support 24/7 time</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="breadcrumb-section set-bg" th:data-setbg="@{/asset/client/img/breadcrumb.jpg}" th:fragment="blog2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Recipe</h2>
                        <div class="breadcrumb__option">
                            <a href="./index.html">Home</a>
                            <span>Recipe</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    
    <section class="blog spad" th:fragment="blog3">
        <div class="container">
            <div class="row">                <div class="col-lg-4 col-md-5">
                    <div class="blog__sidebar">
                        <div class="blog__sidebar__search">
                            <form action="#">
                                <input type="text" placeholder="Search...">
                                <button type="submit"><span class="icon_search"></span></button>
                            </form>
                        </div>
                        <div class="blog__sidebar__item">
                            <h4>Categories</h4>
                            <ul>
                                <li><a href="#">All</a></li>
                                <li><a href="#">Beauty (20)</a></li>
                                <li><a href="#">Food (5)</a></li>
                                <li><a href="#">Life Style (9)</a></li>
                                <li><a href="#">Travel (10)</a></li>
                            </ul>
                        </div>
                        <div class="blog__sidebar__item">
                            <h4>Recent News</h4>
                            <div class="blog__sidebar__recent">
                                <a href="#" class="blog__sidebar__recent__item">
                                    <div class="blog__sidebar__recent__item__pic">
                                        <img th:src="@{/asset/client/img/blog/sidebar/sr-1.jpg}" alt="">
                                    </div>
                                    <div class="blog__sidebar__recent__item__text">
                                        <h6>09 Kinds Of Vegetables<br /> Protect The Liver</h6>
                                        <span>MAR 05, 2019</span>
                                    </div>
                                </a>
                                <a href="#" class="blog__sidebar__recent__item">
                                    <div class="blog__sidebar__recent__item__pic">
                                        <img th:src="@{/asset/client/img/blog/sidebar/sr-2.jpg}" alt="">
                                    </div>
                                    <div class="blog__sidebar__recent__item__text">
                                        <h6>Tips You To Balance<br /> Nutrition Meal Day</h6>
                                        <span>MAR 05, 2019</span>
                                    </div>
                                </a>
                                <a href="#" class="blog__sidebar__recent__item">
                                    <div class="blog__sidebar__recent__item__pic">
                                        <img th:src="@{/asset/client/img/blog/sidebar/sr-3.jpg}" alt="">
                                    </div>
                                    <div class="blog__sidebar__recent__item__text">
                                        <h6>4 Principles Help You Lose <br />Weight With Vegetables</h6>
                                        <span>MAR 05, 2019</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="blog__sidebar__item">
                            <h4>Search By</h4>
                            <div class="blog__sidebar__item__tags">
                                <a href="#">Apple</a>
                                <a href="#">Beauty</a>
                                <a href="#">Vegetables</a>
                                <a href="#">Fruit</a>
                                <a href="#">Healthy Food</a>
                                <a href="#">Lifestyle</a>
                            </div>
                        </div>
                    </div>
                </div>
					<div class="col-lg-8 col-md-7">


					<h2>1.Nguyên liệu làm bánh chưng</h2><br>
					<a>Để làm nên chiếc bánh chưng thì mình cần có các nguyên liệu chính như: Nếp, đậu xanh không vỏ, thịt ba chỉ heo,Lá dong (có thể thêm lá riềng hoặc lá chuối tùy ý) để gói bánh.
					</a>
					<p><img alt="Nguyên liệu món ăn bánh chưng" class="lazy" data-="" data-src="https://cdn.tgdd.vn/Files/2015/01/31/605299/cach-lam-banh-chung-cho-ngay-tet.jpg" src="https://cdn.tgdd.vn/Files/2015/01/31/605299/cach-lam-banh-chung-cho-ngay-tet.jpg" style="display: inline; opacity: 1;"></p>
					<br><br>
					<a>Để làm nên một chiếc bánh pizza dụng cụ làm bánh là thứ không thể thiếu: Bát tô, cây cán bột,
						màng bọc thực phẩm, lò nướng và khay nướng. Nếu không có lò nước có thể thay bằng nồi cơm điện
						hoặc lò chiên không dầu.</a><br><br>
					<h2>2.Cách chế biến bánh chưng</h2>
					<br><br>
					<strong>Bước 1</strong><a>Chuẩn bị</a><br>
					<a>Trước khi làm bánh chưng, bạn sẽ phải tiến hành ngâm nếp trước. Tốt nhất bạn nên ngâm nếp qua đêm, hoặc chí ít cũng phải được 4 tiếng.</a><br>
					<a>Bạn cũng nên ngâm nếp chung với lá riềng hoặc lá dứa để nếp có màu xanh, đồng thời cũng giúp nếp thơm hơn. Đậu xanh không vỏ cũng nên ngâm trong 4 tiếng hoặc để qua đêm.</a>
					<br>
					<div class="img-method firstItem oneitem" onclick="openPopupGallery(0,this)">
                                                    <img data-src="https://cdn.tgdd.vn/2020/08/CookRecipe/GalleryStep/chuan-bi.jpg" data-picid="22619" class="lazy" alt="Bước 1 Chuẩn bị Bánh chưng" src="https://cdn.tgdd.vn/2020/08/CookRecipe/GalleryStep/chuan-bi.jpg" style="display: block; opacity: 1;">
                                                </div><br>
					<strong>Bước 2</strong><a>Sơ chế</a><br>
					<a>Sau khi đã ngâm nếp xong, bạn đổ nếp ra rổ và để cho ráo nước. Rắc 1 đến 2 muỗng muối vào và dùng tay trộn đều nếp.</a><br>
					<a>Tiếp đến, bạn ướp thịt với muối, tiêu và đường.</a><br>
					<a>>Đợi bánh nguội thì bạn cho bánh vào bao nilon và đặt vào tủ lạnh là cách bảo quản đế bánh pizza giúp bánh giữ được hương vị thơm ngon.</a>
					<br>
					<div class="img-method firstItem oneitem" onclick="openPopupGallery(0,this)">
                                                    <img data-src="https://cdn.tgdd.vn/Files/2015/01/31/605299/cach-lam-banh-chung-cho-ngay-tet-1.jpg" data-picid="22620" class="lazy" alt="Bước 2 Sơ chế Bánh chưng" src="https://cdn.tgdd.vn/Files/2015/01/31/605299/cach-lam-banh-chung-cho-ngay-tet-1.jpg" style="display: block; opacity: 1;">
                                                </div><br>
					<strong>Bước 3</strong><a>Gói bánh</a><br>
					<a>Để bánh vuông và đẹp hơn, bạn nên chuẩn bị cho mình một chiếc khung hình vuông để làm khuôn.</a><br>
					<a>Tiếp theo, bạn xếp 4 lá dong. Xếp lá bằng cách gấp mép dưới lên, gấp mép bên trái qua để tạo đường nếp cho lá. Tiến hành thao tác tương tự cho 3 miếng lá còn lại. Sau đó đặt 4 lá xuống dưới khuôn rồi đổ nếp lên.</a><br>
					<a>Bạn rải đều nếp ở 4 góc khuôn và để lõm ở giữa. Cho đậu xanh vào đó rồi để thịt lên rồi lại đến đậu xanh. Tiếp theo, bạn rải nếp lên phủ lại, cố gắng làm sao để lượng nếp và đậu xanh ở trên và dưới đồng đều nhau.</a><br>
					<a>Cuối cùng, bạn gói bánh và dùng dây buộc lại. Bạn cũng nên nhớ không buộc quá chặt vì trong quá trình nấu trong nồi bánh sẽ còn nở ra nữa.</a>
					<br>
					<div class="img-method firstItem threeitem" onclick="openPopupGallery(0,this)">
                                                    <img data-src="https://cdn.tgdd.vn/Files/2015/01/31/605299/cach-lam-banh-chung-cho-ngay-tet-2.jpg" data-picid="22621" class="lazy" alt="Bước 3 Gói bánh Bánh chưng" src="https://cdn.tgdd.vn/Files/2015/01/31/605299/cach-lam-banh-chung-cho-ngay-tet-2.jpg" style="display: block; opacity: 1;">
                                                </div><br>
					<strong>Bước 4</strong><a>Luộc bánh</a><br>
					<a>Đặt bánh vào nồi lớn và đổ nước ngập bánh. Thời gian để luộc một chiếc bánh cỡ nhỏ là khoảng 5 tiếng, với chiếc bánh lớn thì sẽ cần nhiều thời gian hơn.</a><br>
					<a>Còn nếu dùng nồi áp suất, thời gian luộc của bạn sẽ rút ngắn xuống bớt, chỉ còn 1 tiếng. Bạn cũng cần chuẩn bị thêm một nồi nước sôi để khi nước trong nồi luộc cạn thì châm thêm nước vào kịp thời. Khi luộc bánh được nửa thời gian thì trở bánh lại, thay nước mới. Nếu khonh bánh sẽ bị sống, không chín đều.</a><br>
					<a>Sau khi bánh chín thì vớt ra rồi cho ngay vào nồi nước lạnh ngâm trong 20 phút. Sau đó để bánh ráo nước rồi dùng vật hơi nặng đè lên bánh để ép nước ra, giúp bánh chưng không bị nhão và bảo quản được lâu hơn. Ép trong vòng 5 - 8 tiếng là được.</a>
					<br>
					<div class="img-method firstItem oneitem" onclick="openPopupGallery(0,this)">
                                                    <img data-src="https://cdn.tgdd.vn/Files/2015/01/31/605299/cach-lam-banh-chung-cho-ngay-tet-5.jpg" data-picid="22624" class="lazy" alt="Bước 4 Luộc bánh Bánh chưng" src="https://cdn.tgdd.vn/Files/2015/01/31/605299/cach-lam-banh-chung-cho-ngay-tet-5.jpg" style="display: block; opacity: 1;">
                                                </div><br>
					<strong>Bước 5</strong><a>Thành phẩm</a><br>
					<a>Khi công đoạn làm bánh hoàn tất, bạn có thể bảo quản bánh trong ngăn lạnh của tủ lạnh. Lúc có khách đến chỉ cần cho bánh vào lò vi sóng hăm lại là dùng được nhé!</a><br>
			
                                                <div class="img-method  twoitem" onclick="openPopupGallery(1,this)">
                                                    <img data-src="https://cdn.tgdd.vn/Files/2015/01/31/605299/cach-lam-banh-chung-cho-ngay-tet-2-1.jpg" data-picid="22626" class="lazy" alt="Bước 5 Thành phẩm Bánh chưng" src="https://cdn.tgdd.vn/Files/2015/01/31/605299/cach-lam-banh-chung-cho-ngay-tet-2-1.jpg" style="display: block; opacity: 1;">
                                                </div>
				</div>
                        <div  class="col-lg-6 col-md-6 col-sm-6">
                            <div class="product__pagination blog__pagination">
                                <a href="#">1</a>
                                <a href="#">2</a>
                                <a href="#">3</a>
                                <a href="#"><i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Section End -->

    <!-- Footer Section Begin -->
     	<footer th:replace="/client/common/footer :: footerHome">
		  
	  </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
  <script th:src="@{/asset/client/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/asset/client/js/bootstrap.min.js}"></script>
    <script th:src="@{/asset/client/js/jquery.nice-select.min.js}"></script>
    <script th:src="@{/asset/client/js/jquery-ui.min.js}"></script>
    <script th:src="@{/asset/client/js/jquery.slicknav.js}"></script>
    <script th:src="@{/asset/client/js/mixitup.min.js}"></script>
    <script th:src="@{/asset/client/js/owl.carousel.min.js}"></script>
    <script th:src="@{/asset/client/js/main.js}"></script>



</body>

</html>